<h1>Leaderboard</h1>

<style type="text/css">
	th, td {
    padding: 15px;
    text-align: left;
}
tr:nth-child(even) {background-color: #4C4A4A}
</style>
<div style="margin:auto;">
<table align="center">
<tr>
	<th>Name</th><th>Level</th><th>No. of Attempts</th>
	<% if current_user.is_admin == true%>
		<th>Kick</th>
	<%end%>
</tr>
<%@u.each do |u|%>
<tr>
	<td><%=u.name%></td><td><%=u.level_id%></td><td><%=Attempt.where(user_id: u.id).all.length%></td>
	<% if current_user.is_admin == true%>
		<th><a href="#" style="color: #fff;">Kick</a></th>
	<%end%>
</tr>
<%end%>
</table>
</div>